{{#if singleGallery.photos}}

<table class="ui stackable  table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Phtographer</th>
            <th>Picture</th>
        </tr>
    </thead>
    <tbody>
        {{#each singleGallery.photos}}

        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{photographer}}
            </td>
            <td>
                <img src="{{image}}" class="pictures">
            </td>
        </tr>

        {{/each}}
    </tbody>
</table>

{{else}}
<h3 class="ui message">
    Empty gallery!
</h3>

{{/if}}
