
<nav class="ui stackable menu">
    <div class="ui container">
        <!-- Add a link to the gallery page in the menu-->
        <a id="dashboard" class="ui header left aligned item" href="/galleries">Galleries</a>
        <!-- Add a link to the homepage in the menu-->
        <a id="home" class="ui header center aligned item" href="/"><img src="/PG_icon .png" alt="Photo Gallery"
                style="width: 50px; height: 150px; height: auto;"></a>
        <!-- Add a link to the about page in the menu-->
        <a id="about" class="ui header right aligned item" href="/about">About</a>
    </div>
</nav>

<script>"/public/script.js"</script>