{{> menu }}

<section id="gallery" class="ui center aligned middle aligned scrolling segment">
    <h2 id= "gallery" class="ui header">
        {{singleGallery.title}}
    </h2>
    {{> listGallery}}   
</section>
